{% extends 'base.html.twig' %}

{% block titulo %} Grupos {{ parent() }} {% endblock %}

{% block cuerpo %}
    <h1>Listado de Grupos</h1>
    <a href="{{ path('grupo_nuevo') }}">Nuevo Grupo</a>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for grupo in grupos %}
            <tr>
                <td>{{ grupo.id }}</td>
                <td>{{ grupo.nombre }}</td>
                <td>
                    <a href="{{ path('grupo_modificar', {'id': grupo.id}) }}">Modificar</a>
                </td>
            </tr>
        {% else %}
            <h2>No hay Grupos</h2>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}